[submodule "modules/async_futures-timer"]
	path = modules/async_futures-timer
	url = https://github.com/Endericedragon/async_futures-timer
[submodule "modules/async_axtask_with_sync"]
	path = modules/async_axtask_with_sync
	url = git@github.com:Endericedragon/async_axtask_with_sync.git
[submodule "modules/async_futures-bounded"]
	path = modules/async_futures-bounded
	url = git@github.com:Endericedragon/async_futures-bounded.git
