[submodule "testcases"]
	path = testcases
	url = https://github.com/Starry-OS/testcases.git
	ignore = dirty
[submodule "vdso/cops"]
	path = vdso/cops
	url = https://github.com/AsyncModules/cops.git
[submodule "modules/ak_futures-timer"]
	path = modules/ak_futures-timer
	url = git@github.com:Endericedragon/ak_futures-timer.git
[submodule "modules/ak_futures-bounded"]
	path = modules/ak_futures-bounded
	url = git@github.com:Endericedragon/ak_futures-bounded.git
